@import '../variables.scss';

.categories {
  // min-width: 200px;
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:1300px) {
    margin-top: 10px ;
  }
  @media (max-width:800px) {
    width: 500px;
    margin-top: 10px ;
  }
  @media (max-width:500px) {
    width: 300px;
    margin-top: 10px ;
  }


  ul {
    display: flex;
    // flex-wrap: wrap;
    justify-content: start;
    @media (max-width:1100px) {
      width: 800px;
      overflow: scroll;
    }


    li {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 120px;
      font-size: 12px;
      background-color: #f9f9f9;
      border: solid 2px $black;
      padding: 8px 20px;
      border-radius: 30px;
      margin-right: 10px;
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 10%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
