@import '../variables.scss';

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 70px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
      display: flex;
      font-size: 32px;
      font-weight: 700;
    img {
      margin-right: 15px;
    }

    p {
      color: #7b7b7b;
    }
  }
  &__nav {
    
 .link__nav{
  padding: 15px 100px;
  margin:10px 4px;
  color: $black;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  
}


.link__nav::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: $black;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.link__nav:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}
    ul{
      display:flex;
      li{
        font-size: 20px;
        margin-right: 50px;
      }
      :last-child{
        margin-right: 0;
      }
    }
    
  }
  &__icons{
    a{
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-right: 20px;
      transition: 0.8s;
      &:hover{
        transform: scale(1.2);
      }
    }
    :last-child{
      margin-right: 0;
    }
  }
}




