@import '../variables.scss';

.product-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  text-align: center;
  margin-bottom: 75px;

  &-wrapper{
    display: flex;
    justify-content: center;

  }


  &__image {
    width: 260px;
    height: 260px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    width: 100%;
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: solid 2px $black;
    align-items: center;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;
      justify-content: center;

      li {
        padding: 8px;
        flex: 1;
        max-width: 80px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        @include noselect();
        &.active {
          color: #f3f3f3;
          background: $black;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
