.sidebar{
	position: fixed;
	top: 100px;
	right: 0;
	height: 100vh;
	padding: 40px ;
	width: 28%;
	min-width: 390px;
	display: flex;
	flex-direction: column;
 }

 .sidebar.visible-shop{
	@media (max-width:1400px) {
		display: none;
		
	}

 }

 .price-list{
	border-left: 2px solid $black;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	&__title{
		font-size: 30px;
		margin-bottom: 20px;
	}
	li{
		font-size: 13px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
 }